
<!DOCTYPE html>
  <html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>LessonPackage</title>
    </head>


    <body>
      <form>
        <div class="container">
          <div class="row mt-2">
            <label class="col-md-1" for="title">Title</label>
            <input id="title" type="text" class="col-md-5">
          </div>
          <div class="row mt-2">
            <label class="col-md-1" for="description">Description</label>
            <textarea id="description" class="col-11" rows="4"></textarea>
          </div>
          <div class="row mt-2">
            <label class="col-md-1" for="category">Category</label>
            <input id="category" type="text" class="col-md-2">
            <label class="col-md-1" for="level" ngbTooltip="Enter value between 1(basics) to 10(advanced)" placement="top">Level</label>
            <input id="level" type="number" class="col-md-1" min="1" max="10">
            <label class="col-md-1" for="prerequisites">Prerequisite</label>
            <input id="prerequisites" type="text" class="col-md-6">
          </div>
          <div class="row mt-2">
            <label class="col-md-1" for="Tags" ngbTooltip="Enter tags, separated by commas" placement="top">Tags</label>
            <input id="tags" type="text" class="col-md-11" placeholder="Enter tags">
          </div>
          <div class="row mt-1">
            <label class="col-md-1" for="license">License</label>
            <input id="license" type="text" class="col-md-5">
          </div>
          <div class="row mt-2">
            <div class="col-md-2"></div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
        </form>

      </body>

    <div>
      <button class="btn btn-primary" [routerLink]="['/lesson', 1234 ]">Detail for lesson 1234
      </button>
    </div>

  </html>
